<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8"> 
	<title></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
<!--	<link rel="stylesheet" href="http://sandbox.hatchbuck.com/bugs/style.css" /> -->
	<link rel="stylesheet" href="/css/style.css" /> 
	<script src='/js/moment.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
	<script src='/js/chartkick.js'></script>
</head> 
<body>
<div id="container">

<%= yield %>


</div>
<p><a href='/'>Back to start</a></p>
</body>
</html>
