body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	text-align: center;
}

textarea {
	min-height: 8em;
}

div#container {
	padding-top: 50px;
	max-width: 1200px;
	margin: auto;
}

table {
	border-collapse: collapse;
	margin: 30px auto;
}

td {
	padding: 15px;
	border: 1px solid #1E252B;
	text-align: center;
}

table tr:nth-child(odd) {
	color: #1E252B;
	background-color: #F0EFEF;
}

table tr:first-child {
	color: #fff;
	background-color: #303E48;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
}

/* conditionals and stuff */
.center {
	text-align: center;
}

.subtext {
	font-size: 18px;
	color: #999;	
}

table.big {
	width: 100%;
	margin: 20px auto;
}
